body{
  font-family:'Poppins', sans-serif;
  background:url("img/background.jpg") no-repeat;
  background-size: cover;
}

#background-black{
  background: rgba(0, 0, 0, 0.5);
  padding: 5.3% 5.2% 7.4% ;
  margin: 1.5% 18.5% 20%;
  border-radius: 20px;
}

header{
  text-align: center;
  color: #00CD00;
}

header  img{
  display: block;
  margin:auto;
  width: 25%;
  padding-bottom: 0.5%;
}

header span{
  font-size: 1.8em;
  font-weight: 800;
}

nav{
  text-align: center;
  background-color: #00CD00;
  padding: 1%;
}

main{
  color: white;
}

section{
  margin-top: 2%;
}

section form{
  display: inline;
}

.scooter-name{
  font-size:1.5em;
  font-weight: 800;
}

.indicator{
  height: 28px;
  border-radius: 5px;
}

.charge1{
  width: 35%;
  background-color: #FFB556;
}

.charge2{
  width: 59%;
  background-color: #20BC1E;
}

.charge3{
  width: 16%;
  background-color: #C24637;
}

.address::before{
  content: ' \21A6';
}
